 @import 'scripts/design/style/base.scss';
 @import 'scripts/design/style/size.scss';
 #app .tool {
   position: fixed;
   left: 0px;
   top: 0px;
   bottom: 0px;
   width: $tool-width;
   margin: 0;
   -webkit-user-select: none;

   .ant-collapse {
     margin: 5px;
     .ant-collapse-content {
       @include mp0;
       .ant-collapse-content-box {
         @include mp0;
       }
       ul.anticons-list {
         list-style: none;
         overflow: hidden;
         text-align: center;
         padding-top: 10px;
         @include mp0;
         li {
           float: left;
           margin: 3px;
           overflow: hidden;
           width: 55px;
           height: 55px;
           -webkit-user-select: none;
           &.handle{
              cursor: move;
              cursor: grab;
              cursor: -moz-grab;
              cursor: -webkit-grab;
           }
           &:hover {
             background-color: #4BB8FF;
             color: #fff;
             border-radius: 4px;
           }
         }
       }
     }
     .ant-collapse-item .arrow {
       display: none;
     }
     .anticon {
       font-size: 18px;
       line-height: 32px;
     }
     .anticon-empty:before {
       content: "\E66B";
     }
     .anticon-label {
       display: block;
       text-align: center;
       transform: scale(0.83);
       font-family: Consolas;
       /* white-space: nowrap; */
       font-size: 14px;
       line-height: 12px;
     }
   }
 }
 /*
 #collapse .ant-collapse .ant-collapse-item.form .arrow:before {
     content: "\E611";
 }
 
 #collapse .ant-collapse .ant-collapse-item.component .arrow:before {
     content: "\E65F";
 }
 
 #collapse .ant-collapse .ant-collapse-item.table .arrow:before {
     content: "\E6B2";
 }
 
 #collapse .ant-collapse .ant-collapse-item.layout .arrow:before {
     content: "\E650";
 }
*/
