@import 'scripts/design/style/size.scss';
#app .property {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: $property-width;
  padding: 5px;
 
  .ant-tabs-card > .ant-tabs-content {
    background: #fff;
    padding: 10px;
    margin-top: -16px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .ant-tabs-card {
    .ant-tabs-tab {
      border-color: none;
    }
    .ant-tabs-tab-active {
      border-color: #fff;
    }

    .ant-form-item {
      margin-bottom: 5px;
    }
  }


}



